In [1]:
import pandas as pd

In [2]:
customer=pd.read_csv("customer.csv")

In [3]:
customer.sample(3)

    age  gender   review education purchased
42   30  Female     Good        PG       Yes
41   23    Male     Good        PG       Yes
13   57  Female  Average    School        No

We can do ordinal encoding in review and education and label encoding in the target/ purchased variable.

In [4]:
X=customer[['review','education']]
Y=customer['purchased']

In [5]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [6]:
X_train

     review education
12     Poor    School
4   Average        UG
37  Average        PG
8   Average        UG
3      Good        PG
6      Good    School
41     Good        PG
46     Poor        PG
47     Good        PG
15     Poor        UG
9      Good        UG
16     Poor        UG
24  Average        PG
34  Average    School
31     Poor    School
0   Average    School
44  Average        UG
27     Poor        PG
33     Good        PG
5   Average    School
29  Average        UG
11     Good        UG
36     Good        UG
1      Poor        UG
21  Average        PG
2      Good        PG
43     Poor        PG
35     Poor    School
23     Good    School
40     Good    School
10     Good        UG
22     Poor        PG
18     Good    School
49     Good        UG
20  Average    School
7      Poor    School
42     Good        PG
14     Poor        PG
28     Poor    School
38     Good    School

In [7]:
from sklearn.preprocessing import OrdinalEncoder
ordinal=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [8]:
ordinal.fit(X_train)
X_train=ordinal.transform(X_train)
X_test=ordinal.transform(X_test)

In [9]:
X_train

array([[0., 0.],
       [1., 1.],
       [1., 2.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [2., 1.],
       [0., 1.],
       [1., 2.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [1., 1.],
       [2., 1.],
       [2., 1.],
       [0., 1.],
       [1., 2.],
       [2., 2.],
       [0., 2.],
       [0., 0.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [1., 0.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [0., 0.],
       [2., 0.]])

In [10]:
ordinal.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [12]:
from sklearn.preprocessing import LabelEncoder

label=LabelEncoder()

In [13]:
label.fit(Y_train)
Y_train=label.transform(Y_train)
Y_test=label.transform(Y_test)

In [14]:
label.classes_

array(['No', 'Yes'], dtype=object)

In [15]:
Y_train

array([0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0])

**Important Points**
1. Label Encoding is used for the target variable if it is categorical. It does pretty much the same job as Ordinal Encoding, but it is designed for the target variable. So, a basic distinction between ordinal variables: Label Encoding is for the output variable ,whereas, Ordinal is for the input. 
2. It's always a good practise to do train test split before you encode you data.
3. ordinal=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']]): What this code does is, it'll just organized based on order meaning poor is 0, average is 1 and good is 2 (ranking system). If we do not specify this then things are gonna be chosen randomly.You're telling it exactly what "low to high" means.Without categories=..., it may use alphabetical order, which could be totally incorrect for your data. e.g., 'Poor' > 'Good' alphabetically, which makes no sense in context.