In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("train.csv")
df.shape

(891, 12)

In [3]:
df.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
635,636,1,2,"Davis, Miss. Mary",female,28.0,0,0,237668,13.0000,NaN,S
485,486,0,3,"Lefebre, Miss. Jeannie",female,NaN,3,1,4133,25.4667,NaN,S
780,781,1,3,"Ayoub, Miss. Banoura",female,13.0,0,0,2687,7.2292,NaN,C

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
X=df[['Pclass','Age','Fare']]
Y=df['Survived']

In [12]:
df.Survived.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=10)

#### Using KNN Imputer:

In [7]:
from sklearn.impute import KNNImputer

knn=KNNImputer()

X_train1=knn.fit_transform(X_train)
X_test1=knn.transform(X_test)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

lr=LogisticRegression()
lr.fit(X_train1,Y_train)
accuracy_score(Y_test,lr.predict(X_test1))

0.7597765363128491

In [20]:
scores=cross_val_score(lr,X_train1,Y_train,cv=5,scoring='accuracy')
print(f"The mean accuracy score is: {scores.mean():.3f} (+/-{scores.std():.3f})")

The mean accuracy score is: 0.692 (+/-0.023)

#### Using Simple Imputer

In [9]:
from sklearn.impute import SimpleImputer

si=SimpleImputer(strategy='mean')
X_train2=si.fit_transform(X_train)
X_test2=si.transform(X_test)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr=LogisticRegression()
lr.fit(X_train2,Y_train)
accuracy_score(Y_test,lr.predict(X_test2))

0.7653631284916201

In [21]:
scores=cross_val_score(lr,X_train2,Y_train,cv=5,scoring='accuracy')
print(f"The mean accuracy score is: {scores.mean():.3f}(+/-{scores.std():.3f})")

The mean accuracy score is: 0.685(+/-0.019)

**Important Points:**
1. The KNN imputer is highly accurate but requires more time and memory, as it needs to store the entire dataset. Therefore, it is best suited for datasets with a smaller number of instances (n)