In [1]:
import pandas as pd

In [2]:
car=pd.read_csv("cars.csv")
car.sample(3)

       brand  km_driven    fuel         owner  selling_price
4670     BMW      39000  Diesel   First Owner        2950000
5236  Maruti      70000  Petrol   Third Owner         120000
6941    Tata      70000  Diesel  Second Owner         200000

In [3]:
car.shape

(8128, 5)

In [4]:
car.isnull().mean()*100

brand            0.0
km_driven        0.0
fuel             0.0
owner            0.0
selling_price    0.0
dtype: float64

In [5]:
car['brand'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [6]:
car['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [7]:
car['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [8]:
counts=car['brand'].value_counts()

In [9]:
common_brand=counts[counts>100].index
filterd_brand=car[car['brand'].isin(common_brand)]
filterd_brand

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[7590 rows x 5 columns]

In [10]:
X=filterd_brand.drop(columns=['selling_price'])
Y=filterd_brand['selling_price']

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=10)
X_train.shape,X_test.shape

((6072, 4), (1518, 4))

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [13]:
transformer=ColumnTransformer(transformers=[
    ('trf1',OneHotEncoder(drop='first',sparse_output=False),['fuel','owner','brand']),
],remainder='passthrough')

In [17]:
X_train=transformer.fit_transform(X_train)
X_test=transformer.transform(X_test)

In [18]:
X_train.shape,X_test.shape

((6072, 19), (1518, 19))

**Important Points**
1. When dealing with high-cardinality nominal features (like 'brand', 'city', 'product_name', etc.), we can just select k from n. Meaning we can just apply a filtering condition and extract only those features that meet the given threshold/requirement.
2. Using drop='first' will reduce multicollinarity.